body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(153, 149, 149);
}

.Stopwatch{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px solid;
    border-radius: 50px;
    background-color: rgb(255, 255, 255);
    padding: 30px;
}

.Display{
    font-size: 5rem;
    font-family: monospace;
    font-weight: bold;
    color: rgb(36, 30, 79);
    text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.402);
    margin-bottom: 25px;
}

.controls button{
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
    margin: 5px;
    min-width: 125px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color:white;
    transition: background-color 0.5s ease;
}

.start-button{
    background-color: hwb(120 2% 32%);
}

.start-button:hover{
    background-color: hwb(120 2% 15%);
}

.stop-button{
    background-color: hwb(0 2% 32%);
}

.stop-button:hover{
    background-color: hwb(0 2% 15%);
}

.reset-button{
    background-color: hwb(209 2% 32%);
}

.reset-button:hover{
    background-color: hwb(230 27% 0%);
}